.certs1{
    background-color: #191919;
    width: 100vw;
    height: 100vh;
    max-width: 1490px;
}

.project-btn a{
    color: #fea858;
    text-decoration: none;
}

.heading{
    text-align: right;
    font-size: 4.5vw;
    font-family: "Roboto", sans-serif;
    color: #fea858;
    position: relative;
    top: 5vw;
    box-sizing: border-box;
    padding-right: 3vw;
    font-weight: 100;
}
.certs{
    background-color: #191919;
    width: 100vw;
    height: 100vh;
    max-width: 1490px;
    margin: auto;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 50% 50%;
    position: relative;
    top: 6vw;
}
.certificate{
    width: 80%;
    height: 85%;
    margin: auto;
  box-shadow: 0 0 5px #ed765e;  
  box-sizing: border-box;
  padding: 10px;
  animation-name: appear;
  animation-direction: linear;
  animation-timeline: view();
  animation-range: entry 0 cover 40%;
}
.certificate:hover{
  box-shadow: 0 0 5px #ed765e;  
}
.certificate img{
    width: 100%;
    height: 90%;
}
.certificate h2{
    display: flex;
    align-items: center;
    height: 10%;
    margin: 0;
    width: 100%;
    background-image: linear-gradient(45deg,#ed765e,#fea858);
    background-size: 200%;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Roboto';
    font-size: 2vw;
}
.certificate iframe{
    width: 100%;
    height: 100%;
}

@media screen and (min-width:1024px) {
    @media screen and (max-width:1439px) {
        .heading{
            font-size: 5vw;
            top: 6vw;
        }
       
        .certificate{
            width: 90%;
            height: 80%;
        }
        
    }}

    @media screen and (min-width: 300px) {
        @media screen and (max-width: 600px) {
            .heading{
                font-size: 10.5vw;
                top: 14vw;
            }
            .certs{
                top: 20vw;
                display: flex;
                flex-direction: column;
                height: auto;
            }
            .certificate{
                margin-bottom: 5vw;
            }
            .certificate h2{
                font-size: 4vw;
            }
            
        }}

        @media screen and (min-width: 601px) {
            @media screen and (max-width: 1023px) {
                .heading{
                    font-size: 7.5vw;
                    top: 7vw;
                }
                .certs{
                    grid-template-columns: 50% 50%;
                    grid-template-rows: 33% 33% 33%;
                }
                .certificate h2{
                    font-size: 2.5vw;
                    height: 4vw;
                }
            }}